<h1>Welcome to Hot Trackz!</h1>

<hr>

<h2>Edit Your Trackzfile</h2>

<%= form_for :user do |f| %>
  <p>
    <%= f.label :favorite_artist %><br>
    <%= f.text_field :favorite_artist %>
  </p>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
